/* GENERAL STYLES */
hr {
  width: 80%;
}

.desktop {
  display: none;
}

.mobile {
  display: inherit;
}

/* NAVBAR STYLES */
.topnav {
  transition: top 0.3s;
}

.rightNavItem {
  /* display: none; */
  margin: 0;
}

.rightNavMenu {
  /* display: inline; */
}

.botnav {
  display: block;
}

.botnav,
.botRight {
  position: unset;
}

.botRight {
  float: right;
}

/* CONTENT STYLES */
.about,
.skills,
.portfolio,
.contact {
  min-height: calc(100vh - 50px);
}

.aboutContent,
.skillsContent,
.portfolioContent,
.contactContent {
  padding: 0;
}

.name h1,
.skillsTitle h1,
.portfolioTitle h1,
.contactTitle h1 {
  font-size: 36px;
  margin: 10px;
}

/* ABOUT STYLES */


/* SKILLS STYLES */
.techItemContainer {
  width: 128px;
  height: 128px;
  border-radius: 64px;
}

.techLogoImg {
  width: 64px;
}

/* PORTFOLIO STYLES */
.portfolioItemImg {
  width: 100%;
}

.portfolioItemContainer {
  margin: 10px 0;
}

.portfolioBtn {
  margin: 10px 0;
  width: 80%;
  font-size: 18px;
  padding: 6px 6px;
  border-radius: 7px;
}

/* CONTACT STYLES */
.contact {
  margin: 0;
}

.contactDetails {
  margin-left: 10px;
  margin-right: 10px;
}


/* CALCUTTA PAGE */
.project {
  min-height: calc(100vh - 50px);
  padding: 50px 0;
  text-align: center;
}

.projectImg img {
  max-width: 100%;
  height: auto;
}

.projectDescription {
  text-align: left;
  margin: 10px;
}