/* GENERAL STYLES */
body {
  margin: 0;
}

/* NAVBAR STYLES */
.topnav {
  display: flex;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

nav.topnav > ul {
  padding: 0;
  list-style: none;
}

.topLeft {
  margin: 0;
}

.topRight {
  display: inline-flex;
  margin: 0 0 0 auto;
}

nav.topnav > ul > li {
  margin: 0 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* ABOUT STYLES */
.about {
  height: calc(100vh - 50px);
  background-color: red;
  margin-top: 50px;
}


/* SKILLS STYLES */
.skills {
  height: 100vh;
  background-color: blue;
}


/* PORTFOLIO STYLES */
.portfolio {
  height: 100vh;
  background-color: green;
}


/* CONTACT STYLES */
.contact {
  height: 100vh;
  background-color: black;
}