/* GENERAL STYLES */
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-weight: 100;
  /* overscroll-behavior: none; */
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a {
  color: inherit;
}

.light,
.nav-dark {
  background-color: #ffffff;
  color: #20232a;
}

.dark,
.nav-light {
  background-color: #20232a;
  color: #ffffff;
}

.underline {
  text-decoration: underline;
}

.desktop {
  display: inherit;
}

.mobile {
  display: none;
}

button.light {
  border: 1px solid #20232a;
}

button.dark {
  border: 1px solid #ffffff;
}

/* NAVBAR STYLES */
li > a {
  text-decoration: none;
}

.topnav {
  display: flex;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100vw;
  max-width: 100%;
}

nav > ul {
  padding: 0;
  list-style: none;
}

.rightNavMenu {
  display: none;
}

.topLeft {
  margin: 0;
}

.topRight {
  display: inline-flex;
  margin: 0 0 0 auto;
}

nav > ul > li {
  margin: 0 10px;
  padding: 10px 0;
  height: 100%;
  min-width: 50px;
  max-width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.brand {
  max-width: initial;
  font-size: 32px;
}

.botnav {
  display: flex;
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  max-width: 100%;
}

.botMid {
  margin: 0 auto;
  display: inline-flex;
}

.botRight {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0;
}

.botRightNavItem {
  margin: 0;

}

.navLinkIcon, .topNavMenu {
  max-height: 30px;
  max-width: 30px;
}

.topRight li b,
.botMid li b {
  display: none;
}

.botNavItem {
  max-height: 50px;
}




/* CONTENT STYLES */
.about,
.skills,
.portfolio,
.contact {
  min-height: calc(100vh - 100px);
  padding: 75px 0;
  /* height: calc(100vh - 100px); */
  text-align: center;
}

.name h1,
.skillsTitle h1,
.portfolioTitle h1,
.contactTitle h1 {
  font-size: 64px;
  margin: 10px;
}

.about,
.skills,
.portfolio,
.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.aboutContent,
.skillsContent,
.portfolioContent,
.contactContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 100px;
}


/* ABOUT STYLES */
.about {
  margin-top: 50px;
}

.socialIcons {
  display: flex;
  flex-direction: row;
}

.socialIcons .social {
  margin: 0 20px;
}

.socialLink {
  text-decoration: none;
}

.socialLink img {
  max-width: 48px;
  height: auto;
}

.title {
  text-align: center;
}

.title h2 {
  font-size: 32px;
  margin: 10px;
}

.title h3 {
  font-size: 24px;
  margin: 10px;
}

button.jumpLink {
  padding: 15px;
  font-size: 24px;
  border-radius: 7px;
}




/* SKILLS STYLES */
.skills {
  text-align: center;
}

.technologyGrid {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.techItemContainer {
  background-color: #fff;
  width: 256px;
  height: 256px;
  border-radius: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.techItemContainer span {
  display: none;
}

.techLogoImg {
  width: 128px;
  height: auto;
}


/* PORTFOLIO STYLES */
.portfolio {
  
}

.portfolioGrid {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.portfolioItemContainer {
  position: relative;
  margin: 10px 20px;
}

.portfolioItemImgOverlay {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.5s;
}

.portfolioItemText {
  font-size: 24px;
  color: #fff;
}



.portfolioItemImg {
  max-width: 512px;
  height: auto;
}


/* CONTACT STYLES */
.contact {
  margin-bottom: 50px;
}

.contactContent {
  text-align: center;
}


/* MEDIA QUERY HOVER EFFECTS */
@media not all and (hover: none) {
  .topRight li:hover b,
  .botMid li:hover b {
    display: inline-block;
  }

  .rightNavItem:hover img,
  .botNavItem:hover img {
    display: none;
  }

  #light-dark-toggle:hover {
    cursor: pointer;
  }

  button.jumpLink:hover {
    cursor: pointer;
  }

  .portfolioItemLink:hover .portfolioItemImgOverlay {
    opacity: 0.7;
  }
}